.col-1 {
    width: 6%;
}

.col-2 {
    width: 12%;
}
.col-3 {
    width: 18%;
}
.col-4 {
    width: 24%;
}
.col-5 {
    width: 30%;
}
.col-6 {
    width: 36%;
}
.col-7 {
    width: 42%;
}
.col-8 {
    width:48%;
}
.col-9 {
    width: 54%;
}
.col-10 {
    width: 60%;
}
.col-11 {
    width: 66%;
}
.col-12 {
    width: 72%;
}
.col-13 {
    width: 78%;
}
.col-14 {
    width: 84%;
}
.col-15 {
    width: 90%;
}
