body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 50%;
    max-width: 900px;
    border: 2px solid black;
}
.height {
    height: 120px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}
